.columns {
    @include breakpoint(medium) {
        display: table;
        table-layout: fixed;

        &__col {
            display: table-cell;
            width: calc(50% - #{$pad});
        }
        &__col-gap {
            display: table-cell;
            width: $pad * 2;
        }
    }
}