$padding-mobile: 20; 
$max-site-width: 980px; //most units are used in the rem() function, this one isn't, so it hsa px (becasue I'm lazy and aren't writing the unit stripper in rem()).
$max-col-width: 810px;
$section-padding-top-small: 30;
$section-padding-bottom-small: 30;
$section-padding-top-medium: 55;
$section-padding-bottom-medium: 55;
$section-padding-top-large: 90;
$section-padding-bottom-large: 90;