.blog {
    $b:&; //refrence to this scope

    &__logo {
        width: rem($pad + 1); //+1 for the border 
        text-align: center;
        position: relative;
    }

    &__link-list {
        border-left: 1px solid rgba($black, 0.1);
        padding-left: rem($pad / 2);
    }
        &__post {
            margin-bottom: rem($pad / 2);
        }

    &--codepen {
        #{$b}__logo {
            //Push the logo into the padding
            left: -10px;
        }
    }

    &--delphic {
        #{$b}__logo {
            //needs an extra nudge as the svg isn't quite centered.
            left: -8.5px;
        }
    }
}