.card {
    $b:&; //save a reference to this "scope" (no idea if that's the official term in sass, block maybe in BEM?) 
    background-color: white;
    color: $black;
    padding: rem($pad);
    border-radius: 1px;

    -webkit-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.06);
    box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.06);

    &__title {
        text-transform: uppercase;
    }

    /* The width of the title sort of matched the height of the text. 
     * Lets flip it to the side!
     */
    &--work {
        position: relative;
        padding-left: rem(($pad * 2) + 2);

        #{$b}__title {
            position: absolute;
            transform: rotateZ(-90deg) translateY(-50%) translateX(-10px);
            left: -10px;
            line-height: 0;
            bottom: 50%;
        }

        p { margin-bottom: 0; }
    }

    /* There's a bit more space if we move it left slightly.
     * That's easy to do!
     * But then it does get quite spare on larger screens. Oh hello flexbox!
     */
    &--writing {
        #{$b}__title { 
            text-align: center;
            margin-bottom: 0; 
        }
    }

    &--web {
        display: flex;
        align-items: center;
        justify-content: space-between;

        #{$b}__title { 
            margin-bottom: 0; //yes this is a repeat, but each title doesn't need a margin-bottom for different reasons. So it STANDS!
        }
    }
}