//ul
.sitemap {

    &__card {
        display: inline-block;
        vertical-align: middle;
        padding: 20px;
        border: 1px solid rgba(0,0,0,0.05);
        margin: 10px;
    }

    li {
        margin: 0 0 0 0;
    }
}