h1 Iain J McCallum

h2 Work
p I'm a <a href="http://www.delphicdigital.com/blog/author/iain-mccallum">Front End Developer at Hero Digital</a> and a core contributor to the <a href="http://www.wikilogicfoundation.org/about-wikilogic/">WikiLogic Foundation</a>.
p To get in contact with me, try <a href="https://twitter.com/IJMcCallum">Twitter</a> which I check semi-regularaly, or (if you're up for something more iteresting) use a <a href="https://github.com/ijmccallum/ijmccallum.github.io">pull request</a>!

h2 Writing
p The things I add to the Internet
for writing in public.writings._data.articles
  != partial("writings/_writing", {writing: writing})

h2 Web
p The things I pull from the Internet, and my opinions
for webbing in public.webbings._data.finds
  != partial("webbings/_webbing", {webbing: webbing})