/* Background patterns
 * left / right refer to the light side of the pattern's gradient
 */

.purple {
	&--left {
		color: white; 
		background: url('../images/pattern-15.png') center repeat, -webkit-linear-gradient(-45deg, rgba(153, 51, 153, 1), rgba(76, 44, 114, 1)), rgb(76, 44, 114);
		background: url('../images/pattern-15.png') center repeat, -o-linear-gradient(-45deg, rgba(153, 51, 153, 1), rgba(76, 44, 114, 1)), rgb(76, 44, 114);
		background: url('../images/pattern-15.png') center repeat, linear-gradient(-45deg, rgba(153, 51, 153, 1), rgba(76, 44, 114, 1)), rgb(76, 44, 114);
	}
	&--right {
		color: white;
		background: url('../images/pattern-15.png') center repeat, -webkit-linear-gradient(-45deg, rgba(76, 44, 114, 1), rgba(153, 51, 153, 1)), rgb(76, 44, 114);
		background: url('../images/pattern-15.png') center repeat, -o-linear-gradient(-45deg, rgba(76, 44, 114, 1), rgba(153, 51, 153, 1)), rgb(76, 44, 114);
		background: url('../images/pattern-15.png') center repeat, linear-gradient(-45deg, rgba(76, 44, 114, 1), rgba(153, 51, 153, 1)), rgb(76, 44, 114);	
	}
}

.blue {
	&--right {
		color: white;
		background: url('../images/pattern-15.png') center repeat, -webkit-linear-gradient(-45deg, rgb(89, 195, 184), rgb(60, 77, 177));
		background: url('../images/pattern-15.png') center repeat, -o-linear-gradient(-45deg, rgb(89, 195, 184), rgb(60, 77, 177));
		background: url('../images/pattern-15.png') center repeat, linear-gradient(-45deg, rgb(89, 195, 184), rgb(60, 77, 177));
	}
}

.navy {
	&--right {
		color: white; 
		background: url('../images/pattern-15.png') center repeat, -webkit-linear-gradient(-45deg, rgba(60, 77, 177, 1), rgb(21, 28, 86) 50%, rgb(21, 28, 86));
		background: url('../images/pattern-15.png') center repeat, -o-linear-gradient(-45deg, rgba(60, 77, 177, 1), rgb(21, 28, 86) 50%, rgb(21, 28, 86));
		background: url('../images/pattern-15.png') center repeat, linear-gradient(-45deg, rgba(60, 77, 177, 1), rgb(21, 28, 86) 50%, rgb(21, 28, 86));
	}
}
	
.lt-ie10 {
	.purple {
		&--right { background: rgba(76, 44, 114, 1); }
		&--left { background: rgba(153, 51, 153, 1); }
	}
	.blue {
		&--right { background: rgb(60, 77, 177); }
	}
	.navy { 
		&__right { background: rgb(60, 77, 177); } 
	}
}
