//section
.content {
	background: white;
	padding: rem($section-padding-top-small) rem($padding-mobile) rem($section-padding-bottom-small);
	position: relative;

	&__max-width-wrap {
		max-width: $max-site-width;
		margin: 0 auto;
	}

	&__single-width-wrap {
		max-width: $max-col-width;
		margin: 0 auto;
	}

	&__gutter-col {
		width: 100%;
		height: rem($section-padding-bottom-small / 2);
	}

	&__title {
		font-size: rem(26);
		line-height: 1.1;
		margin-bottom: 0.8em;
		font-weight: 200;
	}

	&__sub-title {
		font-size: rem(16);
		font-weight: bold;
	}

	//p
	&__smallprint {
		font-style: italic;
		font-size: rem(12);
	}

	&--grey {
		background: $grey-f2;
	}

	@include breakpoint(medium){
		padding-top: rem($section-padding-top-medium);
		padding-bottom: rem($section-padding-bottom-medium);

		&__title {
			font-size: rem(36);
		}

		&__sub-title {
			font-size: rem(18);
		}

		&__body {
			display: table;
			width: 100%;
		}

			&__main-col {
				display: table-cell;
				vertical-align: top;
				width: 64%;
			}

			&__gutter-col {
				display: table-cell;
				vertical-align: top;
				width: 40px;
  				min-width: 40px;
			}

			&__side-col {
				display: table-cell;
				vertical-align: top;
				width: 34%;
			}	
	}

	@include breakpoint(large) {
		padding-top: rem($section-padding-top-large);
		padding-bottom: rem($section-padding-bottom-large);

		&__title {
			font-size: rem(44);
		}
	}
}