.footer {
	padding: rem(40) rem($padding-mobile);
	background: #000;

	&__copyright {
		font-size: 11px;
		color: #8f8f8f;
	}

	&__link {
		padding-right: 6px;
		font-size: 11px;
		color: #8f8f8f;
	}

	@include breakpoint(marge){
		&__max-width-wrap {
			display: table;
			width: 100%;
			max-width: $max-site-width;
			margin: 0 auto;
		}

		&__left {
			display: table-cell;
		}
		&__right {
			text-align: right;
			display: table-cell;
		}

		&__copyright { 
			display: inline-block;
			margin-right: 8px;
		}

		&__link {
			//adding the pipe dividers
			&:after {
				content: "|";
				speak: none;
				display: inline-block;
				margin-left: 8px;
				width: .15em;
				font-size: 13px;
				font-style: normal;
				font-weight: 400;
				text-align: center;
				text-transform: none;
				color: #767676;
			}
			&:last-child:after { display: none; }
		}
	}
}