$breakpoints: (
	tiny: 320px,
	small: 540px,
	medium: 768px,
	large: 980px,
	massive: 1200px
);

@mixin breakpoint($point) {
    @each $breakpoint in $breakpoints {
        @if $point == nth($breakpoint, 1) {
            @media (min-width: nth($breakpoint, 2)) {
                @content;
            }
        }
    }
}